@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

// Variables
@mixin main-gradient {
  background: rgb(33, 197, 217);
  background: linear-gradient(90deg, rgba(33, 197, 217, 1) 0%, rgba(214, 195, 126, 1) 50%, rgba(33, 197, 217, 1) 100%);
}

@mixin position-bottom {
  position: absolute;
  bottom: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include main-gradient;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  text-align: center;
}

.title {
  text-transform: uppercase;
  margin: 50px 0 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.score {
  display: flex;
  font-weight: 700;
  justify-content: center;
  gap: 3px;
  font-size: 18px;
  margin-bottom: 10px;
}

.winner-text {
  font-weight: 700;
  font-size: 24px;
}

.display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 15px;

  &__player-text,
  &__pc-text {
    @include position-bottom;
  }

  &__player-text {
    left: 20%;
  }

  &__pc-text {
    right: 20%;
  }

  &__pc-chose {
    transform: scaleX(-1);
  }
}

.chose {
  width: 300px;
  height: 300px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__btn {
    display: inline-block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
  }

  &__rock {
    background-image: url("../img/rock.svg");
  }
  &__paper {
    background-image: url("../img/paper.svg");
  }
  &__scissors {
    background-image: url("../img/scissors.svg");
  }
  &__reset {
    background-image: url("../img/reset.svg");
    margin-left: 30px;
  }
}
